.resource-organization {
    padding: 30px;
    background-color: #f2f2f2;
  }
  
  .resource-organization-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .resource-organization-image img {
    transition: opacity 0.5s ease-in-out;
  }
  
  .resource-organization-image:hover img {
    opacity: 0.8;
  }
  
  .resource-organization-intro {
    text-align: center;
  }
  
  .resource-organization-intro h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .resource-organization-intro p {
    font-size: 16px;
    line-height: 1.5;
  } 
  .resource-organization-intro {
    text-align: center;
  }
  
  .resource-organization-intro h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .resource-organization-intro p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .resource-organization-categories {
    margin-top: 30px;
  }
  
  .resource-organization-categories h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .resource-organization-categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .resource-organization-categories li {
    margin-bottom: 10px;
  }
  
  .resource-organization-categories li a {
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
  }
  
  .resource-organization-details {
    margin-top: 30px;
  }
  
  .resource-organization-details h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .resource-organization-details p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  #mySided {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80px;
    padding-top: 20px;
    right: 0;
  }
  
  #mySided a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
  }
  
  #mySided a:hover {
    right: 0;
  }
  
  #events {
      top: 20px;
      background-color: rgb(0, 0, 158);
    }
    
    #catalog {
      top: 80px;
      background-color: #2196F3;
    }
    
    #resources {
      top: 140px;
      background-color: #36d8f4;
    }
    
    #news {
      top: 200px;
      background-color: rgb(41, 227, 221)
    }
  
    #contact {
      top: 260px;
      background-color: aquamarine;
  }